<!DOCTYPE html>
<html lang="en">
<head>
    {{>header_links}}
</head>
<body>
    {{>navbar}}
    <!--Main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errImg">
                            <img src="https://image.freepik.com/free-vector/404-error-page-found_41910-364.jpg" alt="thapa" class="img-fluid">
                        </figure>
                    
                        {{!-- <h1 style="color: blueviolet;">{{errorMsg}}</h1> --}}
                      <h2> <a href="/"><button>Go back</button></a></h2> 
                        {{!-- <h2 style="color: blueviolet; margin-top: 5rem">{{errorMsg}}</h2> --}}
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}
</body>
</html>